.about__conteiner {
  display: flex;
}
.about__img-content {
  margin-right: 30px;
  @include desk {
    margin-right: 64px;
  }
  @media screen and(max-width: 767px) {
    display: none;
  }
}
.about__list {
  @include desk {
    display: flex;
  }
}
.about__item {
  & + & {
    margin-top: 30px;
    @include desk {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}
.about__title {
  font-size: 28px;
  line-height: calc(33 / 28);

  @include desk {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}
.about__text {
  font-size: 18px;
  line-height: calc(30 / 18);
}
.about__text--secondary {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
}
