.portfolio__pretitle {
  margin-bottom: 44px;
}
.portfolio__list {
  margin-bottom: -30px;
  min-width: 100%;
  @include tabl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @include desk {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.portfolio__item {
  margin-bottom: 30px;
  width: 100%;
  @include tabl {
    margin-right: 30px;
    width: calc(100% / 2 - 30px);
  }
  @include desk {
    margin-bottom: 0;
    width: calc(100% / 4);
  }
}
.portfolio__img {
  width: 100%;
}
